<?xml version="1.0"?>

<launch>
  <!-- FCU communication -->
  <node name="rosflight_io" pkg="rosflight" type="rosflight_io" output="screen">
    <param name="udp" value="false"/>
  </node>

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="timed_roslaunch_rosflight" args="2 rosflight urban_rosflight_load_params.launch" output="screen"/>

  <node pkg="rosservice" type="rosservice" name="cal_imu" args="call calibrate_imu" output="screen"/>
  <!--
  <node pkg="rosservice" type="rosservice" name="cal_baro" args="call calibrate_baro" output="screen"/>
-->
</launch>
