<launch>

  <node pkg="rosbag" type="record" name="record_sensors_node" output="screen" args="-o /home/ohrad/EDGAR_PREP_12-5/sensorata 
    /imu_raw
    /mmWaveDataHdl/vel
    /mmWaveDataHdl1/vel
    /teraranger_evo
    /scan
    /z_state_estimator/odom
    /vrpn_client_node/A01RaIner/pose
    /vrpn_client_node/A01RaIner/twist
    /tf /tf_static"/>
</launch>
